<#@ include file="_BaseTemplate.tt" once="true" #> 
<resources>
<# 
	string resxRelativePath = @"..\Resources\Strings.resx";
	string resourceAttributeName = "string";

	GenerateResourceFile(resxRelativePath, resourceAttributeName);
#>
</resources>